// colors

// $primary-background: pink;
$dark-gray: #4d4e4f;
$white: #ffffff;
$medium-gray: #9A9DAB;
$black: black;
$teal: #5BC8AC;
$pink: #EC96A4;
$yellow: #DFE166;

// fonts

$sans: sans-serif;
$open: 'Open Sans';

// layout

@mixin flex-row() {
  display: flex;
  flex-direction: row;
}


// code

// body {
//   background-color: $primary-background;
// }
