@import 'base';

* {
  margin: 0;
}

body {
  background-color: $dark-gray;
  height: auto;
  font-family: $open;
  margin: 0;
}

h1 {
  color: $white;
  height: 80px;
  padding-top: 10px;
  text-align: center;
}

.main {
  @include flex-row();
  height: 1500px;
}

.main-sidebar-body {
  @include flex-row();
  height: 100%;
  width: 25%;
}

.body-sidebar-sidebarContainer {
  @include flex-column();
  @include small-black-border();
  align-items: center;
  background-color: $medium-gray;
  overflow: scroll;
  text-align: center;
}

.sidebar-header-name {
  text-align: center;
}

.sidebar-header-userInfo {
  font-family: $sans;
  font-size: 1.2em;
  font-weight: bold;
  margin: .5em .5em .5em .5em;
  width: inherit;
}

.sidebar-header-line {
  @include small-black-border();
  color: $white;
  height: 0;
  margin: 1em 1em 0 1em;
  width: 80%;
}

.sidebar-header-userImage {
  border-radius: 50%;
  border-color: $black;
  border-style: solid;
  border-width: 1px;
  height: 200px;
  justify-content: center;
  margin: 4px 2px 2px 2px;
  width: 200px;
}

.sidebar-body-friendContainer {
  @include flex-column();
}

.sidebar-friendContainer-listItems {
  text-align: left;
}

.body-main-infoContainter {
  @include flex-column();
  @include small-black-border();
  margin: 0 0 1em;
  overflow: scroll;
  width: 100%;
}

.main-column-hydration {
  @include flex-row();
  height: 25%
}

.main-column-activity {
  @include flex-row();
  height: 50%
}

.main-column-sleep {
  @include flex-row();
  height: 35%
}

.infoContainer-cardContainer-card-horizontal {
  @include flex-column();
  @include small-black-border();
  align-items: center;
  background-color: $white;
  justify-content: space-between;
  margin: 1%;
  width: 100%;
}

.horizontalCard-activity-container {
  @include flex-row();
  justify-content: space-around;
  overflow: scroll;
  width: 100%;
}

.infoContainer-cardContainer-card-vertical {
  @include flex-row();
  @include small-black-border();
  background-color: $white;
  margin: 1%;
  overflow: scroll;
  width: 100%;
}

.card-today-hydration {
  @include card-today();
  background-color: $teal;
  width: 80%;
}

.card-today-sleep {
  @include card-today();
  background-color: $pink;
  width: 80%;
}

.card-today-activity {
  @include card-today();
  width: 40%;
}

.main-column-hydration-form {
  @include card-today();
  background-color: $teal;
  width: 40%;
}

.main-column-sleep-form {
  @include card-today();
  background-color: $pink;
  width: 40%;
}

.card-history-hydration {
  @include card-history();
  background-color: $teal;
}

.card-history-sleep {
  @include card-history();
  background-color: $pink;
}

.card-history-activity {
  @include card-history();
  background-color: $yellow;
  height: 93%;
  overflow: scroll;
}

.main-column-activity-form {
  @include card-history();
  background-color: $yellow;
  width: 43%;
}

.number {
  color: $dark-gray;
  font-kerning: normal;
  font-size: 2em;
  font-weight: bolder;
}

.historicalWeek,
.thisWeek {
  color: $black;
  font-size: 1em;
  font-weight: bolder;
  margin: .5em;
  text-align: center;
}

.card-vertical-list {
  font-size: 1em;
  font-style: italic;
  font-weight: lighter;
  list-style-type: none;
  padding-left: 0;
}

.historical-list-listItem {
  font-family: $sans;
  font-weight: bold;
  padding: .3em;
}
